.wave-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.wave-animation .wave {
  height: 10px;
  width: 50px;
  margin: 10px 0;
  /* background-color: #00bfae; */
  animation: wave-animation 0.5s infinite;
}

@keyframes wave-animation {
  0% {
    transform: scaleX(0.5);
  }
  50% {
    transform: scaleX(1.5);
  }
  100% {
    transform: scaleX(0.5);
  }
}
